@media only screen and (max-width: 768px) {
    .myship {
        margin-left:100px; /* Ensure form starts after the sidebar */
        overflow-x: auto;
    }
    .dataship{
      
        overflow-x: auto; 
    }
}
.dataship::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .circular-loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  