.eyeiconinsignup{
    position: absolute;
    top: 59%;
    right:8%; /* Adjust this value for the desired spacing from the right side */
    transform: translateY(-50%);
    cursor: pointer;
}
.eyeiconinsignup1{
    position: absolute;
    top: 73%;
    right:8%; /* Adjust this value for the desired spacing from the right side */
    transform: translateY(-50%);
    cursor: pointer;
}
.loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .circular-loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Additional styles to maintain button height */
  .btn {
    min-height: 50px; /* Adjust this value as needed */
  }
  
  .button-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  