@media only screen and (max-width: 768px) {
    .tableship{
       padding-left: 10px;
       padding-right: 10px;
    
    
    }
    .hii{
      overflow: auto;
    }

  }
  .tableship{
  
}

.tableship::-webkit-scrollbar { 
   display: none;  /* Safari and Chrome */
}
.hii::-webkit-scrollbar { 
   display: none;  /* Safari and Chrome */
}

 
 .pagination-container {
   display: flex;
   justify-content: flex-end;
 }
 